@import url('https://fonts.googleapis.com/css?family=Monoton');

:root {
  --spacing: 20px;
  --blur: 10px;
  --base: #FFC600;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Monoton', cursive;
}

img {
  margin: 10px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}
